# .env du pc de dev fonctionnel

NODE_ENV=development
API_PORT=3000
PHP_PORT=8080
MONGO_PORT=27018

# MongoDB
MONGO_USER=admin
MONGO_PASSWORD=iCflhWuWZinpGzUNhd47Av8X15E05omJ9jsjkkQ2VCE
MONGO_DB=appclasses
MONGO_URI=mongodb://admin:iCflhWuWZinpGzUNhd47Av8X15E05omJ9jsjkkQ2VCE@mongo:27017/appclasses?authSource=admin
DATABASE_URL=mongodb://admin:iCflhWuWZinpGzUNhd47Av8X15E05omJ9jsjkkQ2VCE@mongo:27017/appclasses?authSource=admin

# API
API_URL=http://api:3000
SESSION_SECRET=skjbfuyebyuvgezyucs
FRONT_URL=http://localhost:8080

# Admin initial
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
