# Secrets — ne JAMAIS committer
.env
.env.ex
*.pem
*.key

*.csv
*.xlsx
*.sql

# Dépendances locales
vendor/
node_modules/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
errorlog
