<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Ne pas rewriter les fichiers/dossiers existants
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Tout passe par index.php
    RewriteRule ^(.*)$ index.php [L]

</IfModule>
